{% extends "base.html" %}{% block Pages %}{% load static %}{% include "scripts.html" %}

<!-- Outer Row -->
<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-password-image"></div>
            <div class="col-lg-6">
                <div class="p-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-2">Zapomniałeś hasła?</h1>
                        <p class="mb-4">Podaj email powiązany z kontem i postępuj zgodnie z instrukcją w mailu zwrotnym!</p>
                    </div>
                    <form action="." method="post" class="user">
                        <div class="form-group">
                            <input
                                type="text"
                                id="id_email"
                                class="form-control form-control-user"
                                aria-describedby="emailHelp"
                                placeholder="{{ form.email.label }}"
                                name="email"
                            />
                        </div>
                        <input type="submit" value="Reset hasła" class="btn btn-primary btn-user btn-block" />
                        {% csrf_token %}
                    </form>
                    <hr />
                    <div class="text-center">
                        <a class="small" href="{% url 'register' %}">Utwórz konto!</a>
                    </div>
                    <div class="text-center">
                        <a class="small" href="{% url 'login' %}">Masz konto? Zaloguj się!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock Pages %}
