{% extends "base.html" %}{% block Pages %}{% load static %}{% include "scripts.html" %}
<title>{% block title %}Zmiana Hasła{% endblock title %}</title>
<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
    {% if request.user.is_authenticated %}
        <h1>Zmiana hasła dla {{ user.username }}</h1>
        <p>Wypełnij formularz</p>
        <form action="." method="post">
        {% csrf_token %}{{ form.as_p }}
        <p><input type='submit' value='Zmień'></p>
    {% else %}
    <p>Pusta strona</p>
    {% endif %}
    </div>
</div>
{% endblock Pages %}
