<style>
    @media screen and (max-width: 700px) {
        .copyright {
            font-size: 10px !important;
        }
    }
    .sticky-footer {
        background-color: #303030;
        color: white;
        height: 50px;
        border-left: 1px solid rgba(255, 255, 255, 1);
    }
    .footer-btn {
        border: 1px solid white;
    }
</style>
<footer class="sticky-footer">
    <div class="container my-auto">
        <div class="row d-flex justify-content-between align-items-center p-2">
            <div class="footer-item"></div>
            <div class="footer-item">
                <span class="copyright text-center my-auto pr-2">Copyright &copy; Krzyzak21</span>
                <a class="footer-btn btn btn-circle btn-sm text-white" style="background-color: #3b5998" href="https://www.facebook.com/krzyzak21" role="button"
                    ><i class="fab fa-facebook-f"></i
                ></a>
                <a class="footer-btn btn btn-circle btn-sm text-white" style="background-color: #ac2bac" href="https://www.instagram.com/krzyzak21/" role="button"
                    ><i class="fab fa-instagram"></i
                ></a>
                <a
                    class="footer-btn btn btn-circle btn-sm text-white"
                    style="background-color: #0082ca"
                    href="https://www.linkedin.com/in/radoslaw-krzyzagorski/"
                    role="button"
                    ><i class="fab fa-linkedin-in"></i
                ></a>
                <a class="footer-btn btn btn-circle btn-sm text-white" style="background-color: #333333" href="https://github.com/Krzyzaku21" role="button"
                    ><i class="fab fa-github"></i
                ></a>
            </div>
            <div class="footer-item"></div>
        </div>
    </div>
</footer>
